<div class="container">
    <div class="client-list">
        <h2>List of Clients</h2>
        <ul>
            @for (c of clients; track c) {
            <div class="client">
                <strong>
                    <p>{{ c.cedula}}</p>
                </strong>
                <p>{{ c.direccion }}</p>
                <p>{{ c.nombre }}</p>
                <input type="button" value="Delete" (click)="deleteClient(c.cedula)">
                <input type="button" value="Modify" (click)="getValues(c.cedula, c.direccion, c.nombre)">
            </div>
            }
        </ul>
    </div>

    <div class="create-client">
        <label for="cedula">Cedula: </label>
        <input type="text" name="cedula" id="cedula" placeholder="Ingrese su cedula" [(ngModel)]="id">
        <br>
        <label for="direccion">Direccion: </label>
        <input type="text" name="direccion" id="direccion" placeholder="Ingrese su direccion" [(ngModel)]="direction">
        <br>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" [(ngModel)]="name">
        <br>
        <input type="button" value="Create" (click)="createClient()">
        <input type="button" value="Confirm" (click)="updateClient()">
    </div>
</div>